* {box-sizing: border-box;}
body { margin: 0px ; background: blanchedalmond;}

/* Header CSS */
.Header {width: 100% ; height: 125px; background:white;}
.logo {height: 100%; float: left; }     /* Logo Div */ 
.logo-file { height: 100%; padding: 10px 30px; }   /*Logo css */

/* Menu CSS */
.menu {  background: #1d1d1d; }
.Nav { margin: 0px; padding: 0px; display: flex;}
.Nav-tab { color: white; list-style: none;  padding: 10px 20px; text-align: center; cursor: pointer; transition: all 0.2s ease;}
.Nav-tab:hover { background:#9c9c9c; }
.right-nav { float: right; background: #1d1d1d; } 

.active {background: #cccccc ; color: black;}  /* Activate menu navigation tab */

/* Content CSS */
h2 { margin: 0px;}
.Title-name {text-align: center; height: 250px; padding-top: 10%;}
.tab {min-height: 500px; overflow: auto; background: blanchedalmond; padding: 20px ; display: none;}

/* Tab 1 CSS */
.content form .user-details { display: flex ; flex-wrap: wrap; justify-content: space-between;}
.content form .input-div { width: calc(100% / 2 - 20px); margin-bottom: 15px; height: fit-content;}
.content form .input-div .details {font-weight: bold; font-size: 18px; }
.content form .user-details .input-div input {  
    height: 30px;
    width: 92%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.content form .user-details .input-div input[type='number'] {width: calc(100% / 6 - 20px);}

.content form .user-details .input-div input[type='text']:focus {border-color: grey;}
.content form .user-details .input-div input[type='text']:valid{border-color: #00af05;}


.content form .user-details .input-div select {
    height: 30px;
    width: 50%;
    transition: all 0.3s ease;
    font-size: 14px;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
}

.content form .user-details .input-div select:focus , .content form .user-details .input-div select:valid
 {border-color: #00af05;}
 .content form .user-details .input-div select:invalid {border-color: #ccc;}

.user-details .input-div .radiobtn{
    width: 1px !important;
    height: 1px !important;
    position: absolute;
    left: 25%;
}
.input-div .category { 
    width: 70%;
    /* background: red; */
    display: flex;
     justify-content: space-evenly; 
    margin: 5px 0px;
}

.user-details .input-div label {cursor: pointer; display: flex;     align-items: center;}
.user-details .input-div label .dot { 
    width: 14px;
    height: 14px;
    background: white;
    /* display: inline-flex; */
    border-radius: 50%;
    border: 1.5px solid black;
    margin-right: 10px;
    margin-left: 15px;
}
span.warranty_type {  font-size: 17px;}
.input-div #dot1:checked ~ .category .one , .input-div #dot2:checked ~ .category .two 
{background: #00af05 ; border-color: #1d1d1d; transition: all 0.3s ease;}

.user-details .input-div textarea {margin: 0px ; width: 92% ; height: 150px ; outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;}
    
.content form .user-details .input-div textarea:focus {border-color: grey;}
.content form .user-details .input-div textarea:valid{border-color: #00af05;}


.button {display: flex;}
.button input {     width: 25%;
    height: 30px;
    margin: 0px 12%;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    font-size: 18px;
    font-weight: bolder;
    font-family: serif;
}
.button input:hover {background: gray; color: white;}






/* Screen resolution change */
@media screen and (max-width: 700px){
    .Nav { flex-direction: column; }
    .Title-name {padding-top: 30%;}
    .content form .input-div { width: calc(100% - 20px); margin-bottom: 15px;}
    .content form {display: block;}
    .input-div .category {width: 90%;}
    .content form .user-details .input-div input[type='number'] {width: calc(100% / 6 - 5px);}
    }
    